body{
    font-size: 18px;
}



.bg-service{
    background-color:#43bac0;
}
.software-intro{
    margin-top: 20px;
}
.software-img{
    width: 50px;
    height: 10px;
}

.img-size{
    width: 700px;
    height: 300px;
}
.top-service-header{
    height: 300px;
    margin-top: 50px;
    position: static;


}
.service{
    margin-left: 100px;
    margin-top: 30px;

}

.first_content{
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    color: #000000;
    font-size: 18px;
}
.software{
    font-size: 20px;
    font-weight: bold;

}

.soln{
    width: 200px;
    height: 300px;
    margin-top: 40px;
}
.payment-title{
    color: #2b3343;
}
.service_desc{
    color:  #3f4e52;
}
.glyphicon{
    font-size: 30px;
    color:#00b3ee;
}