/* BEGIN tmq_css */
.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container  {
	max-width: 978px;
}
body, input, button, select, textarea {
	font-family: 'open sans' !important;
}
body, p, label, input, textarea, .breadcrumb li, .nav-tabs .active a, .nav-tabs li a, .nav-list li a, .sub-footer .latest-posts a, .sub-footer input, .sub-footer textarea, .footer p, td, .accordion-group, .widget_nav_menu .menu li a, .widget-side a, .tag-cloud a, .tagcloud a, .sub-footer ul li a {
	font-size: 12px !important;
}
h1 {
	font-size: ;
}
h2 {
	font-size: ;
}
h3 {
	font-size: ;
	font-size:  !important;
}
h4 {
	font-size: ;
	font-size:  !important;
}
h5 {
	font-size: ;
	font-size:  !important;
}
h6 {
	font-size: ;
	font-size:  !important;
}

/* =========================================== 
    Unlimited Colors Setting                   
 =========================================== */

.nav-active:after, .side-time, .tagcloud a:hover, .features:hover .features-circle, .features-active .features-circle, th {
	background: #19BBAE;
	background: rgb(25,187,174);
}
.sub-footer a:hover, .widget-side a:hover, .portfolio_item .heading a, .price {
	color: #19BBAE;
	color: rgb(25,187,174);
}
.nav-active-arrow {
	border-top:22px solid #19BBAE;
	border-top:22px solid rgb(25,187,174);
}
/* MAIN BUBBLE */
.bubble, .title-bubble, .btn-prime, .slider-frame {
	text-shadow: 1px 1px #19BBAE !important;
	background: #19BBAE; /* Old browsers */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#19BBAE', endColorstr='#19BBAE',GradientType=0 ) !important; /* IE6-9 */
	background: -ms-linear-gradient(top, #19BBAE 0%,#19BBAE 100%) !important; /* IE10+ */
	background: linear-gradient(to bottom, #19BBAE 0%,#19BBAE 100%); /* W3C */
	text-shadow: 1px 1px rgb(-5,140,108) !important;
	background: rgb(41,209,197); /* Old browsers */
	background: -moz-linear-gradient(top, rgb(41,209,197) 0%, rgb(25,187,174) 100%) !important; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(41,209,197)), color-stop(100%,rgb(25,187,174))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgb(41,209,197) 0%,rgb(25,187,174) 100%) !important; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgb(41,209,197) 0%,rgb(25,187,174) 100%) !important; /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgb(41,209,197) 0%,rgb(25,187,174) 100%) !important; /* IE10+ */
	background: linear-gradient(to bottom, rgb(41,209,197) 0%,rgb(25,187,174) 100%); /* W3C */
}
.bubble h4, .title-bubble h5 {
	text-shadow: 1px 1px #19BBAE;
	text-shadow: 1px 1px rgb(-5,140,108);
}
.bubble-triangle {
	border-top:50px solid #19BBAE;
	border-top:50px solid rgb(25,187,174);
}
.title-bubble-triangle {
	border-top:30px solid #19BBAE;
	border-top:30px solid rgb(25,187,174);
}
.features:hover .features-circle, .features-active .features-circle {
	box-shadow:         inset 0 0 15px #19BBAE;
	-moz-box-shadow:    inset 0 0 15px rgb(-5,140,108);
	-webkit-box-shadow: inset 0 0 15px rgb(-5,140,108);
	box-shadow:         inset 0 0 15px rgb(-5,140,108);
}
.content-image-overlay {
	background:  url(http://preview.themique.com/ventus/wp-content/themes/ventus/assets/img/image_overlay.png);
	background-size: 0px 0px;
}
.content-image-overlay:hover {
	background:  url(http://preview.themique.com/ventus/wp-content/themes/ventus/assets/img/image_overlay.png);
	background-size: 48px 48px;
}
.content-image-overlay i {
	background:  #19BBAE;
	background:  rgb(25,187,174);
}
.dropcap.vivid {
	background:  #19BBAE;
	background:  rgb(25,187,174);
	color: #fff;
}
.dropcap.light {
	background: #fff;
	color: #19BBAE;
	color: rgb(25,187,174);
}
.dropcap.dark {
	background: #444;
	color: #fff;
}
.jp-play-bar, .jp-volume-bar-value {
	background-color: #19BBAE;
	background-color: rgb(-5,140,108);
}
	.light-header .header-socials a:hover {
		background-color: #19BBAE;
		background-color: rgb(25,187,174);
	}
	.top-bar.dark-header {
		background-color: #19BBAE;
		background-color: rgb(25,187,174);
	}
	.search-heading a {
		color: #19BBAE;
		color: rgb(25,187,174);
	}

	/* WooCommerce */
	.product-remove a, .product .onsale, .product .add_to_cart_button:hover, .woocommerce-message:before {
		background: #19BBAE !important;
		background: rgb(25,187,174) !important;
	}
	.shipping-calculator-button, .product-name a, .woocommerce ul.products li.product .price, .woocommerce-page ul.products li.product .price {
		color: #19BBAE !important;
		color: rgb(25,187,174) !important;
	}
	.woocommerce-message {
		border-top-color: #19BBAE !important;;
		border-top-color: rgb(25,187,174) !important;;
	}
/* Light header */
	.navbar-inner {
		background: #f7f7f7;
	}
	.sf-menu > li > a {
		background: none !important;
		color: #444 !important;
		text-shadow: none !important;
	}
	.sf-menu > li:hover, .sf-menu > li:hover > a, .sf-menu > .current-menu-item a {
		background: #19BBAE !important;
		background: rgb(25,187,174) !important;
	}
	.sf-menu > .nav-active > a, .sf-menu > .current-menu-item a {
		color: #444 !important;
		background: #efefef !important;
	}
	.navbar ul > li:hover a{
		color: #fff !important;
	}
	.navbar ul {
		font-family: "open sans";
		font-size: 13px;
		line-height: ;
	}
/* Other Pages Slider Area Background */
	.slider {
		background-image: url('http://preview.themique.com/ventus/wp-content/uploads/2013/10/inner_back2.jpg');
		background-size: cover;
		background-repeat: no-repeat;
	}
	.bubble {
		-webkit-box-shadow: 0 0 28px 2px rgba(0,0,0,0.4);
		-moz-box-shadow: 0 0 28px 2px rgba(0,0,0,0.4);
		box-shadow: 0 0 28px 2px rgba(0,0,0,0.4);
	}
	.footer-bubble .bubble {
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
/* Layout Width */
	.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
		max-width: 978px;
	}
/* Google Font */
	body, input, button, select, textarea {
		font-family: open sans !important;
	}
/* Sticky Menu and Top Contact Bar */
	.slider {
		margin-top: 130px;
	}
	.admin-bar .slider {
		margin-top: 92px;
	}
/* Default Font */
	body, p, label, input, textarea, .breadcrumb li, .nav-tabs .active a, .nav-tabs li a, .nav-list li a, .sub-footer .latest-posts a, .sub-footer input, .sub-footer textarea, .footer p, td, .accordion-group, .widget_nav_menu .menu li a, .widget-side a, .tag-cloud a, .tagcloud a, .sub-footer ul li a {
		font-size: 12px !important;
	}
/* Logo Positioning */
	.brand img {
		margin-top: 25px;
	}
/* Headings Font Setting */
	h1, h2, h3, h4, h5, h6 {
		font-family: "open sans", "sans serif";
	}
	h1 {
		font-size: 38.5px;
	}
	h2 {
		font-size: 31.5px;
	}
	h3 {
		font-size: 24.5px;
	}
	h4 {
		font-size: 17.5px;
	}
	h5 {
		font-size: 14px;
	}
	h6 {
		font-size: 12px;
	}

/* END tmq_css */
/* BEGIN tmq_usercss */
p:empty {
     display: none;
}

.slider-heading {
     color: #000000 !important;
     text-shadow: 1px 2px #BDBDBD;
}

.top-bar.light-header {
     background-color: #BDBDBD;
}

.imagebox .content-image {
	position: static;
	min-height: 0;
	background-color: transparent;
}

.wpb_gallery_slides .slides .prettyphoto {
	font-size: 0px;
	border: 0;
	height: 0px;
	line-height: 0px;
	margin: 0;
}

.boxed.page-template-contact-php .map_canvas {
	margin-top: -150px;
	height: 80%;
}

.boxed .body-wrapper .navbar, .boxed .body-wrapper .top-bar {
	left: auto;
	right: auto;
	width: 100%;
}
/* END tmq_usercss */
