@font-face {
	font-family: 'icomoon';
	src:url('icomoon.eot');
	src:url('icomoon.eot?#iefix') format('embedded-opentype'),
		url('icomoon.woff') format('woff'),
		url('icomoon.ttf') format('truetype'),
		url('icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"]:before {
*/
.icomoon-home:before, .icomoon-home-2:before, .icomoon-home-3:before, .icomoon-office:before, .icomoon-newspaper:before, .icomoon-pencil:before, .icomoon-pencil-2:before, .icomoon-quill:before, .icomoon-pen:before, .icomoon-blog:before, .icomoon-droplet:before, .icomoon-paint-format:before, .icomoon-image:before, .icomoon-image-2:before, .icomoon-images:before, .icomoon-camera:before, .icomoon-music:before, .icomoon-headphones:before, .icomoon-play:before, .icomoon-film:before, .icomoon-camera-2:before, .icomoon-dice:before, .icomoon-pacman:before, .icomoon-spades:before, .icomoon-clubs:before, .icomoon-diamonds:before, .icomoon-pawn:before, .icomoon-bullhorn:before, .icomoon-connection:before, .icomoon-podcast:before, .icomoon-feed:before, .icomoon-book:before, .icomoon-books:before, .icomoon-library:before, .icomoon-file:before, .icomoon-profile:before, .icomoon-file-2:before, .icomoon-file-3:before, .icomoon-file-4:before, .icomoon-copy:before, .icomoon-copy-2:before, .icomoon-copy-3:before, .icomoon-paste:before, .icomoon-paste-2:before, .icomoon-paste-3:before, .icomoon-stack:before, .icomoon-folder:before, .icomoon-folder-open:before, .icomoon-tag:before, .icomoon-tags:before, .icomoon-barcode:before, .icomoon-qrcode:before, .icomoon-ticket:before, .icomoon-cart:before, .icomoon-cart-2:before, .icomoon-cart-3:before, .icomoon-coin:before, .icomoon-credit:before, .icomoon-calculate:before, .icomoon-support:before, .icomoon-phone:before, .icomoon-phone-hang-up:before, .icomoon-address-book:before, .icomoon-notebook:before, .icomoon-envelop:before, .icomoon-pushpin:before, .icomoon-location:before, .icomoon-location-2:before, .icomoon-compass:before, .icomoon-map:before, .icomoon-map-2:before, .icomoon-history:before, .icomoon-clock:before, .icomoon-clock-2:before, .icomoon-alarm:before, .icomoon-alarm-2:before, .icomoon-bell:before, .icomoon-stopwatch:before, .icomoon-calendar:before, .icomoon-calendar-2:before, .icomoon-print:before, .icomoon-keyboard:before, .icomoon-screen:before, .icomoon-laptop:before, .icomoon-mobile:before, .icomoon-mobile-2:before, .icomoon-tablet:before, .icomoon-tv:before, .icomoon-cabinet:before, .icomoon-drawer:before, .icomoon-drawer-2:before, .icomoon-drawer-3:before, .icomoon-box-add:before, .icomoon-box-remove:before, .icomoon-download:before, .icomoon-upload:before, .icomoon-disk:before, .icomoon-storage:before, .icomoon-undo:before, .icomoon-redo:before, .icomoon-flip:before, .icomoon-flip-2:before, .icomoon-undo-2:before, .icomoon-redo-2:before, .icomoon-forward:before, .icomoon-reply:before, .icomoon-bubble:before, .icomoon-bubbles:before, .icomoon-bubbles-2:before, .icomoon-bubble-2:before, .icomoon-bubbles-3:before, .icomoon-bubbles-4:before, .icomoon-user:before, .icomoon-users:before, .icomoon-users-2:before, .icomoon-user-2:before, .icomoon-user-3:before, .icomoon-quotes-left:before, .icomoon-busy:before, .icomoon-spinner:before, .icomoon-spinner-2:before, .icomoon-spinner-3:before, .icomoon-spinner-4:before, .icomoon-spinner-5:before, .icomoon-spinner-6:before, .icomoon-binoculars:before, .icomoon-search:before, .icomoon-zoom-in:before, .icomoon-zoom-out:before, .icomoon-expand:before, .icomoon-contract:before, .icomoon-expand-2:before, .icomoon-key:before, .icomoon-key-2:before, .icomoon-lock:before, .icomoon-lock-2:before, .icomoon-unlocked:before, .icomoon-wrench:before, .icomoon-settings:before, .icomoon-equalizer:before, .icomoon-cog:before, .icomoon-cogs:before, .icomoon-cog-2:before, .icomoon-hammer:before, .icomoon-wand:before, .icomoon-aid:before, .icomoon-bug:before, .icomoon-pie:before, .icomoon-stats:before, .icomoon-bars:before, .icomoon-gift:before, .icomoon-trophy:before, .icomoon-glass:before, .icomoon-mug:before, .icomoon-food:before, .icomoon-leaf:before, .icomoon-rocket:before, .icomoon-meter:before, .icomoon-meter2:before, .icomoon-dashboard:before, .icomoon-hammer-2:before, .icomoon-fire:before, .icomoon-lab:before, .icomoon-magnet:before, .icomoon-remove:before, .icomoon-remove-2:before, .icomoon-briefcase:before, .icomoon-airplane:before, .icomoon-road:before, .icomoon-accessibility:before, .icomoon-target:before, .icomoon-shield:before, .icomoon-lightning:before, .icomoon-switch:before, .icomoon-power-cord:before, .icomoon-signup:before, .icomoon-list:before, .icomoon-list-2:before, .icomoon-numbered-list:before, .icomoon-menu:before, .icomoon-menu-2:before, .icomoon-tree:before, .icomoon-cloud:before, .icomoon-cloud-download:before, .icomoon-cloud-upload:before, .icomoon-download-2:before, .icomoon-download-3:before, .icomoon-upload-2:before, .icomoon-globe:before, .icomoon-earth:before, .icomoon-link:before, .icomoon-flag:before, .icomoon-attachment:before, .icomoon-eye:before, .icomoon-eye-blocked:before, .icomoon-eye-2:before, .icomoon-bookmark:before, .icomoon-bookmarks:before, .icomoon-brightness-medium:before, .icomoon-brightness-contrast:before, .icomoon-contrast:before, .icomoon-star:before, .icomoon-star-2:before, .icomoon-star-3:before, .icomoon-heart:before, .icomoon-heart-broken:before, .icomoon-thumbs-up:before, .icomoon-thumbs-up-2:before, .icomoon-happy:before, .icomoon-happy-2:before, .icomoon-smiley:before, .icomoon-smiley-2:before, .icomoon-tongue:before, .icomoon-tongue-2:before, .icomoon-sad:before, .icomoon-sad-2:before, .icomoon-wink:before, .icomoon-wink-2:before, .icomoon-grin:before, .icomoon-grin-2:before, .icomoon-cool:before, .icomoon-cool-2:before, .icomoon-angry:before, .icomoon-evil:before, .icomoon-evil-2:before, .icomoon-shocked:before, .icomoon-shocked-2:before, .icomoon-confused:before, .icomoon-confused-2:before, .icomoon-neutral:before, .icomoon-neutral-2:before, .icomoon-wondering:before, .icomoon-wondering-2:before, .icomoon-point-up:before, .icomoon-point-right:before, .icomoon-point-down:before, .icomoon-point-left:before, .icomoon-warning:before, .icomoon-notification:before, .icomoon-question:before, .icomoon-info:before, .icomoon-blocked:before, .icomoon-cancel-circle:before, .icomoon-checkmark-circle:before, .icomoon-spam:before, .icomoon-close:before, .icomoon-checkmark:before, .icomoon-checkmark-2:before, .icomoon-spell-check:before, .icomoon-minus:before, .icomoon-plus:before, .icomoon-enter:before, .icomoon-exit:before, .icomoon-play-2:before, .icomoon-pause:before, .icomoon-stop:before, .icomoon-backward:before, .icomoon-forward-2:before, .icomoon-pause-2:before, .icomoon-stop-2:before, .icomoon-backward-2:before, .icomoon-forward-3:before, .icomoon-first:before, .icomoon-last:before, .icomoon-previous:before, .icomoon-next:before, .icomoon-eject:before, .icomoon-volume-high:before, .icomoon-volume-medium:before, .icomoon-volume-low:before, .icomoon-volume-mute:before, .icomoon-volume-mute-2:before, .icomoon-volume-increase:before, .icomoon-volume-decrease:before, .icomoon-loop:before, .icomoon-loop-2:before, .icomoon-user-4:before, .icomoon-contract-2:before, .icomoon-bars-2:before, .icomoon-truck:before, .icomoon-upload-3:before, .icomoon-heart-2:before, .icomoon-angry-2:before, .icomoon-info-2:before, .icomoon-play-3:before, .icomoon-loop-3:before, .icomoon-shuffle:before, .icomoon-arrow-up-left:before, .icomoon-arrow-up:before, .icomoon-arrow-up-right:before, .icomoon-arrow-right:before, .icomoon-arrow-down-right:before, .icomoon-arrow-down:before, .icomoon-arrow-down-left:before, .icomoon-arrow-left:before, .icomoon-arrow-up-left-2:before, .icomoon-arrow-up-2:before, .icomoon-arrow-up-right-2:before, .icomoon-arrow-right-2:before, .icomoon-arrow-down-right-2:before, .icomoon-arrow-down-2:before, .icomoon-arrow-down-left-2:before, .icomoon-arrow-left-2:before, .icomoon-arrow-up-left-3:before, .icomoon-arrow-up-3:before, .icomoon-arrow-up-right-3:before, .icomoon-arrow-right-3:before, .icomoon-arrow-down-right-3:before, .icomoon-arrow-down-3:before, .icomoon-arrow-down-left-3:before, .icomoon-arrow-left-3:before, .icomoon-tab:before, .icomoon-checkbox-checked:before, .icomoon-checkbox-unchecked:before, .icomoon-checkbox-partial:before, .icomoon-radio-checked:before, .icomoon-radio-unchecked:before, .icomoon-crop:before, .icomoon-scissors:before, .icomoon-filter:before, .icomoon-filter-2:before, .icomoon-font:before, .icomoon-text-height:before, .icomoon-text-width:before, .icomoon-bold:before, .icomoon-underline:before, .icomoon-italic:before, .icomoon-strikethrough:before, .icomoon-omega:before, .icomoon-sigma:before, .icomoon-table:before, .icomoon-table-2:before, .icomoon-insert-template:before, .icomoon-pilcrow:before, .icomoon-left-to-right:before, .icomoon-right-to-left:before, .icomoon-paragraph-left:before, .icomoon-paragraph-center:before, .icomoon-paragraph-right:before, .icomoon-paragraph-justify:before, .icomoon-paragraph-left-2:before, .icomoon-paragraph-center-2:before, .icomoon-paragraph-right-2:before, .icomoon-paragraph-justify-2:before, .icomoon-indent-increase:before, .icomoon-indent-decrease:before, .icomoon-new-tab:before, .icomoon-embed:before, .icomoon-code:before, .icomoon-console:before, .icomoon-share:before, .icomoon-mail:before, .icomoon-mail-2:before, .icomoon-mail-3:before, .icomoon-mail-4:before, .icomoon-google:before, .icomoon-google-plus:before, .icomoon-google-plus-2:before, .icomoon-google-plus-3:before, .icomoon-google-plus-4:before, .icomoon-google-drive:before, .icomoon-facebook:before, .icomoon-facebook-2:before, .icomoon-facebook-3:before, .icomoon-instagram:before, .icomoon-twitter:before, .icomoon-twitter-2:before, .icomoon-twitter-3:before, .icomoon-feed-2:before, .icomoon-feed-3:before, .icomoon-feed-4:before, .icomoon-youtube:before, .icomoon-youtube-2:before, .icomoon-vimeo:before, .icomoon-vimeo2:before, .icomoon-vimeo-2:before, .icomoon-lanyrd:before, .icomoon-flickr:before, .icomoon-flickr-2:before, .icomoon-flickr-3:before, .icomoon-flickr-4:before, .icomoon-picassa:before, .icomoon-picassa-2:before, .icomoon-dribbble:before, .icomoon-dribbble-2:before, .icomoon-dribbble-3:before, .icomoon-forrst:before, .icomoon-forrst-2:before, .icomoon-deviantart:before, .icomoon-deviantart-2:before, .icomoon-steam:before, .icomoon-steam-2:before, .icomoon-github:before, .icomoon-github-2:before, .icomoon-github-3:before, .icomoon-github-4:before, .icomoon-github-5:before, .icomoon-wordpress:before, .icomoon-wordpress-2:before, .icomoon-joomla:before, .icomoon-blogger:before, .icomoon-blogger-2:before, .icomoon-tumblr:before, .icomoon-tumblr-2:before, .icomoon-yahoo:before, .icomoon-tux:before, .icomoon-apple:before, .icomoon-finder:before, .icomoon-android:before, .icomoon-windows:before, .icomoon-windows8:before, .icomoon-soundcloud:before, .icomoon-soundcloud-2:before, .icomoon-skype:before, .icomoon-reddit:before, .icomoon-linkedin:before, .icomoon-lastfm:before, .icomoon-lastfm-2:before, .icomoon-delicious:before, .icomoon-stumbleupon:before, .icomoon-stumbleupon-2:before, .icomoon-stackoverflow:before, .icomoon-pinterest:before, .icomoon-pinterest-2:before, .icomoon-xing:before, .icomoon-xing-2:before, .icomoon-flattr:before, .icomoon-foursquare:before, .icomoon-foursquare-2:before, .icomoon-paypal:before, .icomoon-paypal-2:before, .icomoon-paypal-3:before, .icomoon-yelp:before, .icomoon-libreoffice:before, .icomoon-file-pdf:before, .icomoon-file-openoffice:before, .icomoon-file-word:before, .icomoon-file-excel:before, .icomoon-file-zip:before, .icomoon-file-powerpoint:before, .icomoon-file-xml:before, .icomoon-file-css:before, .icomoon-html5:before, .icomoon-html5-2:before, .icomoon-css3:before, .icomoon-chrome:before, .icomoon-firefox:before, .icomoon-IE:before, .icomoon-opera:before, .icomoon-safari:before, .icomoon-IcoMoon:before {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icomoon-home:before {
	content: "\e000";
}
.icomoon-home-2:before {
	content: "\e001";
}
.icomoon-home-3:before {
	content: "\e002";
}
.icomoon-office:before {
	content: "\e003";
}
.icomoon-newspaper:before {
	content: "\e004";
}
.icomoon-pencil:before {
	content: "\e005";
}
.icomoon-pencil-2:before {
	content: "\e006";
}
.icomoon-quill:before {
	content: "\e007";
}
.icomoon-pen:before {
	content: "\e008";
}
.icomoon-blog:before {
	content: "\e009";
}
.icomoon-droplet:before {
	content: "\e00a";
}
.icomoon-paint-format:before {
	content: "\e00b";
}
.icomoon-image:before {
	content: "\e00c";
}
.icomoon-image-2:before {
	content: "\e00d";
}
.icomoon-images:before {
	content: "\e00e";
}
.icomoon-camera:before {
	content: "\e00f";
}
.icomoon-music:before {
	content: "\e010";
}
.icomoon-headphones:before {
	content: "\e011";
}
.icomoon-play:before {
	content: "\e012";
}
.icomoon-film:before {
	content: "\e013";
}
.icomoon-camera-2:before {
	content: "\e014";
}
.icomoon-dice:before {
	content: "\e015";
}
.icomoon-pacman:before {
	content: "\e016";
}
.icomoon-spades:before {
	content: "\e017";
}
.icomoon-clubs:before {
	content: "\e018";
}
.icomoon-diamonds:before {
	content: "\e019";
}
.icomoon-pawn:before {
	content: "\e01a";
}
.icomoon-bullhorn:before {
	content: "\e01b";
}
.icomoon-connection:before {
	content: "\e01c";
}
.icomoon-podcast:before {
	content: "\e01d";
}
.icomoon-feed:before {
	content: "\e01e";
}
.icomoon-book:before {
	content: "\e01f";
}
.icomoon-books:before {
	content: "\e020";
}
.icomoon-library:before {
	content: "\e021";
}
.icomoon-file:before {
	content: "\e022";
}
.icomoon-profile:before {
	content: "\e023";
}
.icomoon-file-2:before {
	content: "\e024";
}
.icomoon-file-3:before {
	content: "\e025";
}
.icomoon-file-4:before {
	content: "\e026";
}
.icomoon-copy:before {
	content: "\e027";
}
.icomoon-copy-2:before {
	content: "\e028";
}
.icomoon-copy-3:before {
	content: "\e029";
}
.icomoon-paste:before {
	content: "\e02a";
}
.icomoon-paste-2:before {
	content: "\e02b";
}
.icomoon-paste-3:before {
	content: "\e02c";
}
.icomoon-stack:before {
	content: "\e02d";
}
.icomoon-folder:before {
	content: "\e02e";
}
.icomoon-folder-open:before {
	content: "\e02f";
}
.icomoon-tag:before {
	content: "\e030";
}
.icomoon-tags:before {
	content: "\e031";
}
.icomoon-barcode:before {
	content: "\e032";
}
.icomoon-qrcode:before {
	content: "\e033";
}
.icomoon-ticket:before {
	content: "\e034";
}
.icomoon-cart:before {
	content: "\e035";
}
.icomoon-cart-2:before {
	content: "\e036";
}
.icomoon-cart-3:before {
	content: "\e037";
}
.icomoon-coin:before {
	content: "\e038";
}
.icomoon-credit:before {
	content: "\e039";
}
.icomoon-calculate:before {
	content: "\e03a";
}
.icomoon-support:before {
	content: "\e03b";
}
.icomoon-phone:before {
	content: "\e03c";
}
.icomoon-phone-hang-up:before {
	content: "\e03d";
}
.icomoon-address-book:before {
	content: "\e03e";
}
.icomoon-notebook:before {
	content: "\e03f";
}
.icomoon-envelop:before {
	content: "\e040";
}
.icomoon-pushpin:before {
	content: "\e041";
}
.icomoon-location:before {
	content: "\e042";
}
.icomoon-location-2:before {
	content: "\e043";
}
.icomoon-compass:before {
	content: "\e044";
}
.icomoon-map:before {
	content: "\e045";
}
.icomoon-map-2:before {
	content: "\e046";
}
.icomoon-history:before {
	content: "\e047";
}
.icomoon-clock:before {
	content: "\e048";
}
.icomoon-clock-2:before {
	content: "\e049";
}
.icomoon-alarm:before {
	content: "\e04a";
}
.icomoon-alarm-2:before {
	content: "\e04b";
}
.icomoon-bell:before {
	content: "\e04c";
}
.icomoon-stopwatch:before {
	content: "\e04d";
}
.icomoon-calendar:before {
	content: "\e04e";
}
.icomoon-calendar-2:before {
	content: "\e04f";
}
.icomoon-print:before {
	content: "\e050";
}
.icomoon-keyboard:before {
	content: "\e051";
}
.icomoon-screen:before {
	content: "\e052";
}
.icomoon-laptop:before {
	content: "\e053";
}
.icomoon-mobile:before {
	content: "\e054";
}
.icomoon-mobile-2:before {
	content: "\e055";
}
.icomoon-tablet:before {
	content: "\e056";
}
.icomoon-tv:before {
	content: "\e057";
}
.icomoon-cabinet:before {
	content: "\e058";
}
.icomoon-drawer:before {
	content: "\e059";
}
.icomoon-drawer-2:before {
	content: "\e05a";
}
.icomoon-drawer-3:before {
	content: "\e05b";
}
.icomoon-box-add:before {
	content: "\e05c";
}
.icomoon-box-remove:before {
	content: "\e05d";
}
.icomoon-download:before {
	content: "\e05e";
}
.icomoon-upload:before {
	content: "\e05f";
}
.icomoon-disk:before {
	content: "\e060";
}
.icomoon-storage:before {
	content: "\e061";
}
.icomoon-undo:before {
	content: "\e062";
}
.icomoon-redo:before {
	content: "\e063";
}
.icomoon-flip:before {
	content: "\e064";
}
.icomoon-flip-2:before {
	content: "\e065";
}
.icomoon-undo-2:before {
	content: "\e066";
}
.icomoon-redo-2:before {
	content: "\e067";
}
.icomoon-forward:before {
	content: "\e068";
}
.icomoon-reply:before {
	content: "\e069";
}
.icomoon-bubble:before {
	content: "\e06a";
}
.icomoon-bubbles:before {
	content: "\e06b";
}
.icomoon-bubbles-2:before {
	content: "\e06c";
}
.icomoon-bubble-2:before {
	content: "\e06d";
}
.icomoon-bubbles-3:before {
	content: "\e06e";
}
.icomoon-bubbles-4:before {
	content: "\e06f";
}
.icomoon-user:before {
	content: "\e070";
}
.icomoon-users:before {
	content: "\e071";
}
.icomoon-users-2:before {
	content: "\e072";
}
.icomoon-user-2:before {
	content: "\e073";
}
.icomoon-user-3:before {
	content: "\e074";
}
.icomoon-quotes-left:before {
	content: "\e075";
}
.icomoon-busy:before {
	content: "\e076";
}
.icomoon-spinner:before {
	content: "\e077";
}
.icomoon-spinner-2:before {
	content: "\e078";
}
.icomoon-spinner-3:before {
	content: "\e079";
}
.icomoon-spinner-4:before {
	content: "\e07a";
}
.icomoon-spinner-5:before {
	content: "\e07b";
}
.icomoon-spinner-6:before {
	content: "\e07c";
}
.icomoon-binoculars:before {
	content: "\e07d";
}
.icomoon-search:before {
	content: "\e07e";
}
.icomoon-zoom-in:before {
	content: "\e07f";
}
.icomoon-zoom-out:before {
	content: "\e080";
}
.icomoon-expand:before {
	content: "\e081";
}
.icomoon-contract:before {
	content: "\e082";
}
.icomoon-expand-2:before {
	content: "\e083";
}
.icomoon-key:before {
	content: "\e084";
}
.icomoon-key-2:before {
	content: "\e085";
}
.icomoon-lock:before {
	content: "\e086";
}
.icomoon-lock-2:before {
	content: "\e087";
}
.icomoon-unlocked:before {
	content: "\e088";
}
.icomoon-wrench:before {
	content: "\e089";
}
.icomoon-settings:before {
	content: "\e08a";
}
.icomoon-equalizer:before {
	content: "\e08b";
}
.icomoon-cog:before {
	content: "\e08c";
}
.icomoon-cogs:before {
	content: "\e08d";
}
.icomoon-cog-2:before {
	content: "\e08e";
}
.icomoon-hammer:before {
	content: "\e08f";
}
.icomoon-wand:before {
	content: "\e090";
}
.icomoon-aid:before {
	content: "\e091";
}
.icomoon-bug:before {
	content: "\e092";
}
.icomoon-pie:before {
	content: "\e093";
}
.icomoon-stats:before {
	content: "\e094";
}
.icomoon-bars:before {
	content: "\e095";
}
.icomoon-gift:before {
	content: "\e096";
}
.icomoon-trophy:before {
	content: "\e097";
}
.icomoon-glass:before {
	content: "\e098";
}
.icomoon-mug:before {
	content: "\e099";
}
.icomoon-food:before {
	content: "\e09a";
}
.icomoon-leaf:before {
	content: "\e09b";
}
.icomoon-rocket:before {
	content: "\e09c";
}
.icomoon-meter:before {
	content: "\e09d";
}
.icomoon-meter2:before {
	content: "\e09e";
}
.icomoon-dashboard:before {
	content: "\e09f";
}
.icomoon-hammer-2:before {
	content: "\e0a0";
}
.icomoon-fire:before {
	content: "\e0a1";
}
.icomoon-lab:before {
	content: "\e0a2";
}
.icomoon-magnet:before {
	content: "\e0a3";
}
.icomoon-remove:before {
	content: "\e0a4";
}
.icomoon-remove-2:before {
	content: "\e0a5";
}
.icomoon-briefcase:before {
	content: "\e0a6";
}
.icomoon-airplane:before {
	content: "\e0a7";
}
.icomoon-road:before {
	content: "\e0a8";
}
.icomoon-accessibility:before {
	content: "\e0a9";
}
.icomoon-target:before {
	content: "\e0aa";
}
.icomoon-shield:before {
	content: "\e0ab";
}
.icomoon-lightning:before {
	content: "\e0ac";
}
.icomoon-switch:before {
	content: "\e0ad";
}
.icomoon-power-cord:before {
	content: "\e0ae";
}
.icomoon-signup:before {
	content: "\e0af";
}
.icomoon-list:before {
	content: "\e0b0";
}
.icomoon-list-2:before {
	content: "\e0b1";
}
.icomoon-numbered-list:before {
	content: "\e0b2";
}
.icomoon-menu:before {
	content: "\e0b3";
}
.icomoon-menu-2:before {
	content: "\e0b4";
}
.icomoon-tree:before {
	content: "\e0b5";
}
.icomoon-cloud:before {
	content: "\e0b6";
}
.icomoon-cloud-download:before {
	content: "\e0b7";
}
.icomoon-cloud-upload:before {
	content: "\e0b8";
}
.icomoon-download-2:before {
	content: "\e0b9";
}
.icomoon-download-3:before {
	content: "\e0ba";
}
.icomoon-upload-2:before {
	content: "\e0bb";
}
.icomoon-globe:before {
	content: "\e0bc";
}
.icomoon-earth:before {
	content: "\e0bd";
}
.icomoon-link:before {
	content: "\e0be";
}
.icomoon-flag:before {
	content: "\e0bf";
}
.icomoon-attachment:before {
	content: "\e0c0";
}
.icomoon-eye:before {
	content: "\e0c1";
}
.icomoon-eye-blocked:before {
	content: "\e0c2";
}
.icomoon-eye-2:before {
	content: "\e0c3";
}
.icomoon-bookmark:before {
	content: "\e0c4";
}
.icomoon-bookmarks:before {
	content: "\e0c5";
}
.icomoon-brightness-medium:before {
	content: "\e0c6";
}
.icomoon-brightness-contrast:before {
	content: "\e0c7";
}
.icomoon-contrast:before {
	content: "\e0c8";
}
.icomoon-star:before {
	content: "\e0c9";
}
.icomoon-star-2:before {
	content: "\e0ca";
}
.icomoon-star-3:before {
	content: "\e0cb";
}
.icomoon-heart:before {
	content: "\e0cc";
}
.icomoon-heart-broken:before {
	content: "\e0cd";
}
.icomoon-thumbs-up:before {
	content: "\e0ce";
}
.icomoon-thumbs-up-2:before {
	content: "\e0cf";
}
.icomoon-happy:before {
	content: "\e0d0";
}
.icomoon-happy-2:before {
	content: "\e0d1";
}
.icomoon-smiley:before {
	content: "\e0d2";
}
.icomoon-smiley-2:before {
	content: "\e0d3";
}
.icomoon-tongue:before {
	content: "\e0d4";
}
.icomoon-tongue-2:before {
	content: "\e0d5";
}
.icomoon-sad:before {
	content: "\e0d6";
}
.icomoon-sad-2:before {
	content: "\e0d7";
}
.icomoon-wink:before {
	content: "\e0d8";
}
.icomoon-wink-2:before {
	content: "\e0d9";
}
.icomoon-grin:before {
	content: "\e0da";
}
.icomoon-grin-2:before {
	content: "\e0db";
}
.icomoon-cool:before {
	content: "\e0dc";
}
.icomoon-cool-2:before {
	content: "\e0dd";
}
.icomoon-angry:before {
	content: "\e0de";
}
.icomoon-evil:before {
	content: "\e0df";
}
.icomoon-evil-2:before {
	content: "\e0e0";
}
.icomoon-shocked:before {
	content: "\e0e1";
}
.icomoon-shocked-2:before {
	content: "\e0e2";
}
.icomoon-confused:before {
	content: "\e0e3";
}
.icomoon-confused-2:before {
	content: "\e0e4";
}
.icomoon-neutral:before {
	content: "\e0e5";
}
.icomoon-neutral-2:before {
	content: "\e0e6";
}
.icomoon-wondering:before {
	content: "\e0e7";
}
.icomoon-wondering-2:before {
	content: "\e0e8";
}
.icomoon-point-up:before {
	content: "\e0e9";
}
.icomoon-point-right:before {
	content: "\e0ea";
}
.icomoon-point-down:before {
	content: "\e0eb";
}
.icomoon-point-left:before {
	content: "\e0ec";
}
.icomoon-warning:before {
	content: "\e0ed";
}
.icomoon-notification:before {
	content: "\e0ee";
}
.icomoon-question:before {
	content: "\e0ef";
}
.icomoon-info:before {
	content: "\e0f0";
}
.icomoon-blocked:before {
	content: "\e0f1";
}
.icomoon-cancel-circle:before {
	content: "\e0f2";
}
.icomoon-checkmark-circle:before {
	content: "\e0f3";
}
.icomoon-spam:before {
	content: "\e0f4";
}
.icomoon-close:before {
	content: "\e0f5";
}
.icomoon-checkmark:before {
	content: "\e0f6";
}
.icomoon-checkmark-2:before {
	content: "\e0f7";
}
.icomoon-spell-check:before {
	content: "\e0f8";
}
.icomoon-minus:before {
	content: "\e0f9";
}
.icomoon-plus:before {
	content: "\e0fa";
}
.icomoon-enter:before {
	content: "\e0fb";
}
.icomoon-exit:before {
	content: "\e0fc";
}
.icomoon-play-2:before {
	content: "\e0fd";
}
.icomoon-pause:before {
	content: "\e0fe";
}
.icomoon-stop:before {
	content: "\e0ff";
}
.icomoon-backward:before {
	content: "\e100";
}
.icomoon-forward-2:before {
	content: "\e101";
}
.icomoon-pause-2:before {
	content: "\e102";
}
.icomoon-stop-2:before {
	content: "\e103";
}
.icomoon-backward-2:before {
	content: "\e104";
}
.icomoon-forward-3:before {
	content: "\e105";
}
.icomoon-first:before {
	content: "\e106";
}
.icomoon-last:before {
	content: "\e107";
}
.icomoon-previous:before {
	content: "\e108";
}
.icomoon-next:before {
	content: "\e109";
}
.icomoon-eject:before {
	content: "\e10a";
}
.icomoon-volume-high:before {
	content: "\e10b";
}
.icomoon-volume-medium:before {
	content: "\e10c";
}
.icomoon-volume-low:before {
	content: "\e10d";
}
.icomoon-volume-mute:before {
	content: "\e10e";
}
.icomoon-volume-mute-2:before {
	content: "\e10f";
}
.icomoon-volume-increase:before {
	content: "\e110";
}
.icomoon-volume-decrease:before {
	content: "\e111";
}
.icomoon-loop:before {
	content: "\e112";
}
.icomoon-loop-2:before {
	content: "\e113";
}
.icomoon-user-4:before {
	content: "\e114";
}
.icomoon-contract-2:before {
	content: "\e115";
}
.icomoon-bars-2:before {
	content: "\e116";
}
.icomoon-truck:before {
	content: "\e117";
}
.icomoon-upload-3:before {
	content: "\e118";
}
.icomoon-heart-2:before {
	content: "\e119";
}
.icomoon-angry-2:before {
	content: "\e11a";
}
.icomoon-info-2:before {
	content: "\e11b";
}
.icomoon-play-3:before {
	content: "\e11c";
}
.icomoon-loop-3:before {
	content: "\e11d";
}
.icomoon-shuffle:before {
	content: "\e11e";
}
.icomoon-arrow-up-left:before {
	content: "\e11f";
}
.icomoon-arrow-up:before {
	content: "\e120";
}
.icomoon-arrow-up-right:before {
	content: "\e121";
}
.icomoon-arrow-right:before {
	content: "\e122";
}
.icomoon-arrow-down-right:before {
	content: "\e123";
}
.icomoon-arrow-down:before {
	content: "\e124";
}
.icomoon-arrow-down-left:before {
	content: "\e125";
}
.icomoon-arrow-left:before {
	content: "\e126";
}
.icomoon-arrow-up-left-2:before {
	content: "\e127";
}
.icomoon-arrow-up-2:before {
	content: "\e128";
}
.icomoon-arrow-up-right-2:before {
	content: "\e129";
}
.icomoon-arrow-right-2:before {
	content: "\e12a";
}
.icomoon-arrow-down-right-2:before {
	content: "\e12b";
}
.icomoon-arrow-down-2:before {
	content: "\e12c";
}
.icomoon-arrow-down-left-2:before {
	content: "\e12d";
}
.icomoon-arrow-left-2:before {
	content: "\e12e";
}
.icomoon-arrow-up-left-3:before {
	content: "\e12f";
}
.icomoon-arrow-up-3:before {
	content: "\e130";
}
.icomoon-arrow-up-right-3:before {
	content: "\e131";
}
.icomoon-arrow-right-3:before {
	content: "\e132";
}
.icomoon-arrow-down-right-3:before {
	content: "\e133";
}
.icomoon-arrow-down-3:before {
	content: "\e134";
}
.icomoon-arrow-down-left-3:before {
	content: "\e135";
}
.icomoon-arrow-left-3:before {
	content: "\e136";
}
.icomoon-tab:before {
	content: "\e137";
}
.icomoon-checkbox-checked:before {
	content: "\e138";
}
.icomoon-checkbox-unchecked:before {
	content: "\e139";
}
.icomoon-checkbox-partial:before {
	content: "\e13a";
}
.icomoon-radio-checked:before {
	content: "\e13b";
}
.icomoon-radio-unchecked:before {
	content: "\e13c";
}
.icomoon-crop:before {
	content: "\e13d";
}
.icomoon-scissors:before {
	content: "\e13e";
}
.icomoon-filter:before {
	content: "\e13f";
}
.icomoon-filter-2:before {
	content: "\e140";
}
.icomoon-font:before {
	content: "\e141";
}
.icomoon-text-height:before {
	content: "\e142";
}
.icomoon-text-width:before {
	content: "\e143";
}
.icomoon-bold:before {
	content: "\e144";
}
.icomoon-underline:before {
	content: "\e145";
}
.icomoon-italic:before {
	content: "\e146";
}
.icomoon-strikethrough:before {
	content: "\e147";
}
.icomoon-omega:before {
	content: "\e148";
}
.icomoon-sigma:before {
	content: "\e149";
}
.icomoon-table:before {
	content: "\e14a";
}
.icomoon-table-2:before {
	content: "\e14b";
}
.icomoon-insert-template:before {
	content: "\e14c";
}
.icomoon-pilcrow:before {
	content: "\e14d";
}
.icomoon-left-to-right:before {
	content: "\e14e";
}
.icomoon-right-to-left:before {
	content: "\e14f";
}
.icomoon-paragraph-left:before {
	content: "\e150";
}
.icomoon-paragraph-center:before {
	content: "\e151";
}
.icomoon-paragraph-right:before {
	content: "\e152";
}
.icomoon-paragraph-justify:before {
	content: "\e153";
}
.icomoon-paragraph-left-2:before {
	content: "\e154";
}
.icomoon-paragraph-center-2:before {
	content: "\e155";
}
.icomoon-paragraph-right-2:before {
	content: "\e156";
}
.icomoon-paragraph-justify-2:before {
	content: "\e157";
}
.icomoon-indent-increase:before {
	content: "\e158";
}
.icomoon-indent-decrease:before {
	content: "\e159";
}
.icomoon-new-tab:before {
	content: "\e15a";
}
.icomoon-embed:before {
	content: "\e15b";
}
.icomoon-code:before {
	content: "\e15c";
}
.icomoon-console:before {
	content: "\e15d";
}
.icomoon-share:before {
	content: "\e15e";
}
.icomoon-mail:before {
	content: "\e15f";
}
.icomoon-mail-2:before {
	content: "\e160";
}
.icomoon-mail-3:before {
	content: "\e161";
}
.icomoon-mail-4:before {
	content: "\e162";
}
.icomoon-google:before {
	content: "\e163";
}
.icomoon-google-plus:before {
	content: "\e164";
}
.icomoon-google-plus-2:before {
	content: "\e165";
}
.icomoon-google-plus-3:before {
	content: "\e166";
}
.icomoon-google-plus-4:before {
	content: "\e167";
}
.icomoon-google-drive:before {
	content: "\e168";
}
.icomoon-facebook:before {
	content: "\e169";
}
.icomoon-facebook-2:before {
	content: "\e16a";
}
.icomoon-facebook-3:before {
	content: "\e16b";
}
.icomoon-instagram:before {
	content: "\e16c";
}
.icomoon-twitter:before {
	content: "\e16d";
}
.icomoon-twitter-2:before {
	content: "\e16e";
}
.icomoon-twitter-3:before {
	content: "\e16f";
}
.icomoon-feed-2:before {
	content: "\e170";
}
.icomoon-feed-3:before {
	content: "\e171";
}
.icomoon-feed-4:before {
	content: "\e172";
}
.icomoon-youtube:before {
	content: "\e173";
}
.icomoon-youtube-2:before {
	content: "\e174";
}
.icomoon-vimeo:before {
	content: "\e175";
}
.icomoon-vimeo2:before {
	content: "\e176";
}
.icomoon-vimeo-2:before {
	content: "\e177";
}
.icomoon-lanyrd:before {
	content: "\e178";
}
.icomoon-flickr:before {
	content: "\e179";
}
.icomoon-flickr-2:before {
	content: "\e17a";
}
.icomoon-flickr-3:before {
	content: "\e17b";
}
.icomoon-flickr-4:before {
	content: "\e17c";
}
.icomoon-picassa:before {
	content: "\e17d";
}
.icomoon-picassa-2:before {
	content: "\e17e";
}
.icomoon-dribbble:before {
	content: "\e17f";
}
.icomoon-dribbble-2:before {
	content: "\e180";
}
.icomoon-dribbble-3:before {
	content: "\e181";
}
.icomoon-forrst:before {
	content: "\e182";
}
.icomoon-forrst-2:before {
	content: "\e183";
}
.icomoon-deviantart:before {
	content: "\e184";
}
.icomoon-deviantart-2:before {
	content: "\e185";
}
.icomoon-steam:before {
	content: "\e186";
}
.icomoon-steam-2:before {
	content: "\e187";
}
.icomoon-github:before {
	content: "\e188";
}
.icomoon-github-2:before {
	content: "\e189";
}
.icomoon-github-3:before {
	content: "\e18a";
}
.icomoon-github-4:before {
	content: "\e18b";
}
.icomoon-github-5:before {
	content: "\e18c";
}
.icomoon-wordpress:before {
	content: "\e18d";
}
.icomoon-wordpress-2:before {
	content: "\e18e";
}
.icomoon-joomla:before {
	content: "\e18f";
}
.icomoon-blogger:before {
	content: "\e190";
}
.icomoon-blogger-2:before {
	content: "\e191";
}
.icomoon-tumblr:before {
	content: "\e192";
}
.icomoon-tumblr-2:before {
	content: "\e193";
}
.icomoon-yahoo:before {
	content: "\e194";
}
.icomoon-tux:before {
	content: "\e195";
}
.icomoon-apple:before {
	content: "\e196";
}
.icomoon-finder:before {
	content: "\e197";
}
.icomoon-android:before {
	content: "\e198";
}
.icomoon-windows:before {
	content: "\e199";
}
.icomoon-windows8:before {
	content: "\e19a";
}
.icomoon-soundcloud:before {
	content: "\e19b";
}
.icomoon-soundcloud-2:before {
	content: "\e19c";
}
.icomoon-skype:before {
	content: "\e19d";
}
.icomoon-reddit:before {
	content: "\e19e";
}
.icomoon-linkedin:before {
	content: "\e19f";
}
.icomoon-lastfm:before {
	content: "\e1a0";
}
.icomoon-lastfm-2:before {
	content: "\e1a1";
}
.icomoon-delicious:before {
	content: "\e1a2";
}
.icomoon-stumbleupon:before {
	content: "\e1a3";
}
.icomoon-stumbleupon-2:before {
	content: "\e1a4";
}
.icomoon-stackoverflow:before {
	content: "\e1a5";
}
.icomoon-pinterest:before {
	content: "\e1a6";
}
.icomoon-pinterest-2:before {
	content: "\e1a7";
}
.icomoon-xing:before {
	content: "\e1a8";
}
.icomoon-xing-2:before {
	content: "\e1a9";
}
.icomoon-flattr:before {
	content: "\e1aa";
}
.icomoon-foursquare:before {
	content: "\e1ab";
}
.icomoon-foursquare-2:before {
	content: "\e1ac";
}
.icomoon-paypal:before {
	content: "\e1ad";
}
.icomoon-paypal-2:before {
	content: "\e1ae";
}
.icomoon-paypal-3:before {
	content: "\e1af";
}
.icomoon-yelp:before {
	content: "\e1b0";
}
.icomoon-libreoffice:before {
	content: "\e1b1";
}
.icomoon-file-pdf:before {
	content: "\e1b2";
}
.icomoon-file-openoffice:before {
	content: "\e1b3";
}
.icomoon-file-word:before {
	content: "\e1b4";
}
.icomoon-file-excel:before {
	content: "\e1b5";
}
.icomoon-file-zip:before {
	content: "\e1b6";
}
.icomoon-file-powerpoint:before {
	content: "\e1b7";
}
.icomoon-file-xml:before {
	content: "\e1b8";
}
.icomoon-file-css:before {
	content: "\e1b9";
}
.icomoon-html5:before {
	content: "\e1ba";
}
.icomoon-html5-2:before {
	content: "\e1bb";
}
.icomoon-css3:before {
	content: "\e1bc";
}
.icomoon-chrome:before {
	content: "\e1bd";
}
.icomoon-firefox:before {
	content: "\e1be";
}
.icomoon-IE:before {
	content: "\e1bf";
}
.icomoon-opera:before {
	content: "\e1c0";
}
.icomoon-safari:before {
	content: "\e1c1";
}
.icomoon-IcoMoon:before {
	content: "\e1c2";
}
